flows/CO.txt
[{"id":"add123a7.522ee","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"msafe","tz":""},{"id":"da31eeea.25ce1","type":"mqtt-broker","z":"","broker":"192.168.0.50","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"5c9ab545.a3654c","type":"mqtt in","z":"b7cc4692.4833b8","name":"co-1","topic":"co-1","broker":"da31eeea.25ce1","x":61,"y":63,"wires":[["50785f27.af87a","e8aa5eb2.1755a"]]},{"id":"50785f27.af87a","type":"function","z":"b7cc4692.4833b8","name":"toJSON","func":"msg.payload={value:[msg.payload]};\nreturn msg;","outputs":"1","noerr":0,"x":267,"y":55,"wires":[["4ad2b22c.b52d4c"]]},{"id":"4ad2b22c.b52d4c","type":"freeboard","z":"b7cc4692.4833b8","name":"co-1","x":458,"y":58,"wires":[]},{"id":"e8aa5eb2.1755a","type":"function","z":"b7cc4692.4833b8","name":"INSERT CO","func":"msg.topic = \"INSERT INTO Measures (Timestamp, Type, Value, Station) VALUES (UNIX_TIMESTAMP(),?,?,?)\";\nmsg.payload = [\"CO\",msg.payload,1];\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":125,"wires":[["7ddb5b3c.8224a4"]]},{"id":"7ddb5b3c.8224a4","type":"mysql","z":"b7cc4692.4833b8","mydb":"add123a7.522ee","name":"","x":464.5,"y":122,"wires":[["f8404ba9.07bfb8"]]},{"id":"f8404ba9.07bfb8","type":"debug","z":"b7cc4692.4833b8","name":"","active":false,"console":"false","complete":"payload","x":632.5,"y":125,"wires":[]},{"id":"e0ee11b7.1f11f","type":"mqtt in","z":"b7cc4692.4833b8","name":"co-2","topic":"co-2","broker":"da31eeea.25ce1","x":55,"y":196,"wires":[["87ea0c1c.7815f","c78900b6.3877"]]},{"id":"87ea0c1c.7815f","type":"function","z":"b7cc4692.4833b8","name":"toJSON","func":"msg.payload={value:[msg.payload]};\nreturn msg;","outputs":"1","noerr":0,"x":265,"y":205,"wires":[["a38bf34.f5c741"]]},{"id":"a38bf34.f5c741","type":"freeboard","z":"b7cc4692.4833b8","name":"co-2","x":463,"y":199,"wires":[]},{"id":"c78900b6.3877","type":"function","z":"b7cc4692.4833b8","name":"INSERT CO","func":"msg.topic = \"INSERT INTO Measures (Timestamp, Type, Value, Station) VALUES (UNIX_TIMESTAMP(),?,?,?)\";\nmsg.payload = [\"CO\",msg.payload,2];\nreturn msg;","outputs":1,"noerr":0,"x":248,"y":283,"wires":[["d094bebd.2f6b4"]]},{"id":"d094bebd.2f6b4","type":"mysql","z":"b7cc4692.4833b8","mydb":"add123a7.522ee","name":"","x":464.5,"y":285,"wires":[["5f308685.a0cf78"]]},{"id":"5f308685.a0cf78","type":"debug","z":"b7cc4692.4833b8","name":"","active":false,"console":"false","complete":"payload","x":644.5,"y":283,"wires":[]}]