flows/CO2.txt
[{"id":"add123a7.522ee","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"msafe","tz":""},{"id":"da31eeea.25ce1","type":"mqtt-broker","z":"","broker":"192.168.0.50","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"d2fa124e.2d05f","type":"mqtt in","z":"d0f02277.2f0fe","name":"co2-1","topic":"co2-1","broker":"da31eeea.25ce1","x":67,"y":51,"wires":[["94f12ec7.6b0ed","7d73f074.828c1"]]},{"id":"94f12ec7.6b0ed","type":"function","z":"d0f02277.2f0fe","name":"toJSON","func":"msg.payload={value:[msg.payload]};\nreturn msg;","outputs":"1","noerr":0,"x":273,"y":43,"wires":[["465b1f85.b9a4e"]]},{"id":"465b1f85.b9a4e","type":"freeboard","z":"d0f02277.2f0fe","name":"co2-1","x":464,"y":46,"wires":[]},{"id":"7d73f074.828c1","type":"function","z":"d0f02277.2f0fe","name":"INSERT CO2","func":"msg.topic = \"INSERT INTO Measures (Timestamp, Type, Value, Station) VALUES (UNIX_TIMESTAMP(),?,?,?)\";\nmsg.payload = [\"co2\",msg.payload,1];\nreturn msg;","outputs":1,"noerr":0,"x":256,"y":113,"wires":[["cbd71800.3428e8"]]},{"id":"cbd71800.3428e8","type":"mysql","z":"d0f02277.2f0fe","mydb":"add123a7.522ee","name":"","x":470.5,"y":110,"wires":[["bf3a7e64.40c58"]]},{"id":"bf3a7e64.40c58","type":"debug","z":"d0f02277.2f0fe","name":"","active":false,"console":"false","complete":"payload","x":638.5,"y":113,"wires":[]},{"id":"e4d8f02b.1b271","type":"mqtt in","z":"d0f02277.2f0fe","name":"co2-2","topic":"co2-2","broker":"da31eeea.25ce1","x":61,"y":184,"wires":[["3b7905f4.c486fa","760a1653.89f5e8"]]},{"id":"3b7905f4.c486fa","type":"function","z":"d0f02277.2f0fe","name":"toJSON","func":"msg.payload={value:[msg.payload]};\nreturn msg;","outputs":"1","noerr":0,"x":271,"y":193,"wires":[["8cba6289.7345a"]]},{"id":"8cba6289.7345a","type":"freeboard","z":"d0f02277.2f0fe","name":"co2-2","x":469,"y":187,"wires":[]},{"id":"760a1653.89f5e8","type":"function","z":"d0f02277.2f0fe","name":"INSERT CO2","func":"msg.topic = \"INSERT INTO Measures (Timestamp, Type, Value, Station) VALUES (UNIX_TIMESTAMP(),?,?,?)\";\nmsg.payload = [\"co2\",msg.payload,2];\nreturn msg;","outputs":1,"noerr":0,"x":254,"y":271,"wires":[["9fde15f6.6021e8"]]},{"id":"9fde15f6.6021e8","type":"mysql","z":"d0f02277.2f0fe","mydb":"add123a7.522ee","name":"","x":470.5,"y":273,"wires":[["3f5f55c0.c0a0aa"]]},{"id":"3f5f55c0.c0a0aa","type":"debug","z":"d0f02277.2f0fe","name":"","active":false,"console":"false","complete":"payload","x":650.5,"y":271,"wires":[]}]