flows/humidity.txt
[{"id":"add123a7.522ee","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"msafe","tz":""},{"id":"da31eeea.25ce1","type":"mqtt-broker","z":"","broker":"192.168.0.50","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"ebcb2790.1434d8","type":"mqtt in","z":"1b7a4450.e485bc","name":"hum1","topic":"hum1","broker":"da31eeea.25ce1","x":61,"y":37,"wires":[["bad71f71.4528e","c99ace94.36653"]]},{"id":"bad71f71.4528e","type":"function","z":"1b7a4450.e485bc","name":"toJSON","func":"msg.payload={value:[msg.payload]};\nreturn msg;","outputs":"1","noerr":0,"x":267,"y":29,"wires":[["6d8f0dee.9270f4"]]},{"id":"6d8f0dee.9270f4","type":"freeboard","z":"1b7a4450.e485bc","name":"hum1","x":458,"y":32,"wires":[]},{"id":"c99ace94.36653","type":"function","z":"1b7a4450.e485bc","name":"INSERT Humidity","func":"msg.topic = \"INSERT INTO Measures (Timestamp, Type, Value, Station) VALUES (UNIX_TIMESTAMP(),?,?,?)\";\nmsg.payload = [\"hum\",msg.payload,1];\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":99,"wires":[["53dbf933.ac2408"]]},{"id":"53dbf933.ac2408","type":"mysql","z":"1b7a4450.e485bc","mydb":"add123a7.522ee","name":"","x":464.5,"y":96,"wires":[["d2567ca7.2da98"]]},{"id":"d2567ca7.2da98","type":"debug","z":"1b7a4450.e485bc","name":"","active":false,"console":"false","complete":"payload","x":632.5,"y":99,"wires":[]},{"id":"282177c9.d7de88","type":"mqtt in","z":"1b7a4450.e485bc","name":"hum2","topic":"hum2","broker":"da31eeea.25ce1","x":55,"y":170,"wires":[["4b64455d.b49bbc","315974f2.cea68c"]]},{"id":"4b64455d.b49bbc","type":"function","z":"1b7a4450.e485bc","name":"toJSON","func":"msg.payload={value:[msg.payload]};\nreturn msg;","outputs":"1","noerr":0,"x":265,"y":179,"wires":[["645cadfd.9ba354"]]},{"id":"645cadfd.9ba354","type":"freeboard","z":"1b7a4450.e485bc","name":"hum2","x":463,"y":173,"wires":[]},{"id":"315974f2.cea68c","type":"function","z":"1b7a4450.e485bc","name":"INSERT Humidity","func":"msg.topic = \"INSERT INTO Measures (Timestamp, Type, Value, Station) VALUES (UNIX_TIMESTAMP(),?,?,?)\";\nmsg.payload = [\"hum\",msg.payload,2];\nreturn msg;","outputs":1,"noerr":0,"x":268,"y":257,"wires":[["29a7b6e1.d6584a"]]},{"id":"29a7b6e1.d6584a","type":"mysql","z":"1b7a4450.e485bc","mydb":"add123a7.522ee","name":"","x":464.5,"y":259,"wires":[["953e6610.6ac198"]]},{"id":"953e6610.6ac198","type":"debug","z":"1b7a4450.e485bc","name":"","active":false,"console":"false","complete":"payload","x":644.5,"y":257,"wires":[]}]