flows/lux.txt
[{"id":"add123a7.522ee","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"msafe","tz":""},{"id":"da31eeea.25ce1","type":"mqtt-broker","z":"","broker":"192.168.0.50","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"be884b01.4177b8","type":"mqtt in","z":"fe399cd9.01c66","name":"lum1","topic":"lum1","broker":"da31eeea.25ce1","x":61,"y":57,"wires":[["7252152b.8dadec","2690f8bb.d96f08"]]},{"id":"7252152b.8dadec","type":"function","z":"fe399cd9.01c66","name":"toJSON","func":"msg.payload={value:[msg.payload]};\nreturn msg;","outputs":"1","noerr":0,"x":267,"y":49,"wires":[["aecdde20.51322"]]},{"id":"aecdde20.51322","type":"freeboard","z":"fe399cd9.01c66","name":"lum1","x":458,"y":52,"wires":[]},{"id":"2690f8bb.d96f08","type":"function","z":"fe399cd9.01c66","name":"INSERT lum","func":"msg.topic = \"INSERT INTO Measures (Timestamp, Type, Value, Station) VALUES (UNIX_TIMESTAMP(),?,?,?)\";\nmsg.payload = [\"lum\",msg.payload,1];\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":119,"wires":[["67bc6939.984398"]]},{"id":"67bc6939.984398","type":"mysql","z":"fe399cd9.01c66","mydb":"add123a7.522ee","name":"","x":464.5,"y":116,"wires":[["3ff7139e.c008ec"]]},{"id":"3ff7139e.c008ec","type":"debug","z":"fe399cd9.01c66","name":"","active":false,"console":"false","complete":"payload","x":632.5,"y":119,"wires":[]},{"id":"2a52ff77.d5ad","type":"mqtt in","z":"fe399cd9.01c66","name":"lum2","topic":"lum2","broker":"da31eeea.25ce1","x":55,"y":190,"wires":[["407ee949.bf8118","d514fbcd.2aeb08"]]},{"id":"407ee949.bf8118","type":"function","z":"fe399cd9.01c66","name":"toJSON","func":"msg.payload={value:[msg.payload]};\nreturn msg;","outputs":"1","noerr":0,"x":265,"y":199,"wires":[["6acfe8be.953018"]]},{"id":"6acfe8be.953018","type":"freeboard","z":"fe399cd9.01c66","name":"lum2","x":463,"y":193,"wires":[]},{"id":"d514fbcd.2aeb08","type":"function","z":"fe399cd9.01c66","name":"INSERT lum","func":"msg.topic = \"INSERT INTO Measures (Timestamp, Type, Value, Station) VALUES (UNIX_TIMESTAMP(),?,?,?)\";\nmsg.payload = [\"lum\",msg.payload,2];\nreturn msg;","outputs":1,"noerr":0,"x":248,"y":277,"wires":[["bd3961df.42c6a"]]},{"id":"bd3961df.42c6a","type":"mysql","z":"fe399cd9.01c66","mydb":"add123a7.522ee","name":"","x":464.5,"y":279,"wires":[["e084abe3.1f7b58"]]},{"id":"e084abe3.1f7b58","type":"debug","z":"fe399cd9.01c66","name":"","active":false,"console":"false","complete":"payload","x":644.5,"y":277,"wires":[]}]