flows/NH3.txt
[{"id":"add123a7.522ee","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"msafe","tz":""},{"id":"da31eeea.25ce1","type":"mqtt-broker","z":"","broker":"192.168.0.50","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"2348d1fe.dcb72e","type":"mqtt in","z":"25e83399.da17cc","name":"nh3-1","topic":"nh3-1","broker":"da31eeea.25ce1","x":61,"y":74,"wires":[["9d120eb8.62edf","763f0840.89c0f8"]]},{"id":"9d120eb8.62edf","type":"function","z":"25e83399.da17cc","name":"toJSON","func":"msg.payload={value:[msg.payload]};\nreturn msg;","outputs":"1","noerr":0,"x":267,"y":66,"wires":[["76de973a.892168"]]},{"id":"76de973a.892168","type":"freeboard","z":"25e83399.da17cc","name":"nh3-1","x":458,"y":69,"wires":[]},{"id":"763f0840.89c0f8","type":"function","z":"25e83399.da17cc","name":"INSERT nh3","func":"msg.topic = \"INSERT INTO Measures (Timestamp, Type, Value, Station) VALUES (UNIX_TIMESTAMP(),?,?,?)\";\nmsg.payload = [\"nh3\",msg.payload,1];\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":136,"wires":[["5d840fe1.a27bf"]]},{"id":"5d840fe1.a27bf","type":"mysql","z":"25e83399.da17cc","mydb":"add123a7.522ee","name":"","x":464.5,"y":133,"wires":[["c2a90707.3d56f8"]]},{"id":"c2a90707.3d56f8","type":"debug","z":"25e83399.da17cc","name":"","active":false,"console":"false","complete":"payload","x":632.5,"y":136,"wires":[]},{"id":"7c787333.83878c","type":"mqtt in","z":"25e83399.da17cc","name":"nh3-2","topic":"nh3-2","broker":"da31eeea.25ce1","x":55,"y":207,"wires":[["651ca035.9ae36","774fe43b.88b01c"]]},{"id":"651ca035.9ae36","type":"function","z":"25e83399.da17cc","name":"toJSON","func":"msg.payload={value:[msg.payload]};\nreturn msg;","outputs":"1","noerr":0,"x":265,"y":216,"wires":[["f73b290e.08c4d8"]]},{"id":"f73b290e.08c4d8","type":"freeboard","z":"25e83399.da17cc","name":"nh3-2","x":463,"y":210,"wires":[]},{"id":"774fe43b.88b01c","type":"function","z":"25e83399.da17cc","name":"INSERT nh3","func":"msg.topic = \"INSERT INTO Measures (Timestamp, Type, Value, Station) VALUES (UNIX_TIMESTAMP(),?,?,?)\";\nmsg.payload = [\"nh3\",msg.payload,2];\nreturn msg;","outputs":1,"noerr":0,"x":248,"y":294,"wires":[["a9cc488a.5633b8"]]},{"id":"a9cc488a.5633b8","type":"mysql","z":"25e83399.da17cc","mydb":"add123a7.522ee","name":"","x":464.5,"y":296,"wires":[["b7e7c391.48184"]]},{"id":"b7e7c391.48184","type":"debug","z":"25e83399.da17cc","name":"","active":false,"console":"false","complete":"payload","x":644.5,"y":294,"wires":[]}]