flows/NO2.txt
[{"id":"add123a7.522ee","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"msafe","tz":""},{"id":"da31eeea.25ce1","type":"mqtt-broker","z":"","broker":"192.168.0.50","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"86289ba6.79d768","type":"mqtt in","z":"4f2fce1b.b0d03","name":"no2-1","topic":"no2-1","broker":"da31eeea.25ce1","x":61,"y":57,"wires":[["21725e44.de8da2","49293b4.fb6d6c4"]]},{"id":"21725e44.de8da2","type":"function","z":"4f2fce1b.b0d03","name":"toJSON","func":"msg.payload={value:[msg.payload]};\nreturn msg;","outputs":"1","noerr":0,"x":267,"y":49,"wires":[["58257d2.fa7da84"]]},{"id":"58257d2.fa7da84","type":"freeboard","z":"4f2fce1b.b0d03","name":"no2-1","x":458,"y":52,"wires":[]},{"id":"49293b4.fb6d6c4","type":"function","z":"4f2fce1b.b0d03","name":"INSERT no2","func":"msg.topic = \"INSERT INTO Measures (Timestamp, Type, Value, Station) VALUES (UNIX_TIMESTAMP(),?,?,?)\";\nmsg.payload = [\"no2\",msg.payload,1];\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":119,"wires":[["45072678.baf8d8"]]},{"id":"45072678.baf8d8","type":"mysql","z":"4f2fce1b.b0d03","mydb":"add123a7.522ee","name":"","x":464.5,"y":116,"wires":[["1cd28d65.e32d73"]]},{"id":"1cd28d65.e32d73","type":"debug","z":"4f2fce1b.b0d03","name":"","active":false,"console":"false","complete":"payload","x":632.5,"y":119,"wires":[]},{"id":"a091f295.5f6e1","type":"mqtt in","z":"4f2fce1b.b0d03","name":"no2-2","topic":"no2-2","broker":"da31eeea.25ce1","x":55,"y":190,"wires":[["a65468e9.59ab98","f4a5cbd2.0b5a38"]]},{"id":"a65468e9.59ab98","type":"function","z":"4f2fce1b.b0d03","name":"toJSON","func":"msg.payload={value:[msg.payload]};\nreturn msg;","outputs":"1","noerr":0,"x":265,"y":199,"wires":[["c2fcd795.3d0328"]]},{"id":"c2fcd795.3d0328","type":"freeboard","z":"4f2fce1b.b0d03","name":"no2-2","x":463,"y":193,"wires":[]},{"id":"f4a5cbd2.0b5a38","type":"function","z":"4f2fce1b.b0d03","name":"INSERT no2","func":"msg.topic = \"INSERT INTO Measures (Timestamp, Type, Value, Station) VALUES (UNIX_TIMESTAMP(),?,?,?)\";\nmsg.payload = [\"no2\",msg.payload,2];\nreturn msg;","outputs":1,"noerr":0,"x":248,"y":277,"wires":[["dd88c94d.227738"]]},{"id":"dd88c94d.227738","type":"mysql","z":"4f2fce1b.b0d03","mydb":"add123a7.522ee","name":"","x":464.5,"y":279,"wires":[["b88c7b7d.477388"]]},{"id":"b88c7b7d.477388","type":"debug","z":"4f2fce1b.b0d03","name":"","active":false,"console":"false","complete":"payload","x":644.5,"y":277,"wires":[]}]