flows/sound.txt
[{"id":"add123a7.522ee","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"msafe","tz":""},{"id":"da31eeea.25ce1","type":"mqtt-broker","z":"","broker":"192.168.0.50","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"b0d7b11.f4f285","type":"mqtt in","z":"76d566fb.892a98","name":"sound1","topic":"sound1","broker":"da31eeea.25ce1","x":61,"y":60,"wires":[["e54820ab.1ab7e","db3bc205.24c44"]]},{"id":"e54820ab.1ab7e","type":"function","z":"76d566fb.892a98","name":"toJSON","func":"msg.payload={value:[msg.payload]};\nreturn msg;","outputs":"1","noerr":0,"x":267,"y":52,"wires":[["702b1b91.8fd4e4"]]},{"id":"702b1b91.8fd4e4","type":"freeboard","z":"76d566fb.892a98","name":"sound1","x":468,"y":55,"wires":[]},{"id":"db3bc205.24c44","type":"function","z":"76d566fb.892a98","name":"INSERT sound","func":"msg.topic = \"INSERT INTO Measures (Timestamp, Type, Value, Station) VALUES (UNIX_TIMESTAMP(),?,?,?)\";\nmsg.payload = [\"sound\",msg.payload,1];\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":122,"wires":[["5cebef1a.a3141"]]},{"id":"5cebef1a.a3141","type":"mysql","z":"76d566fb.892a98","mydb":"add123a7.522ee","name":"","x":464.5,"y":119,"wires":[["e6ec5fe4.1913a"]]},{"id":"e6ec5fe4.1913a","type":"debug","z":"76d566fb.892a98","name":"","active":false,"console":"false","complete":"payload","x":632.5,"y":122,"wires":[]},{"id":"3ea349c9.c15cb6","type":"mqtt in","z":"76d566fb.892a98","name":"sound2","topic":"sound2","broker":"da31eeea.25ce1","x":55,"y":193,"wires":[["672aeb49.98d514","f37c06dd.0c83f8"]]},{"id":"672aeb49.98d514","type":"function","z":"76d566fb.892a98","name":"toJSON","func":"msg.payload={value:[msg.payload]};\nreturn msg;","outputs":"1","noerr":0,"x":265,"y":202,"wires":[["6fd5ff19.902a"]]},{"id":"6fd5ff19.902a","type":"freeboard","z":"76d566fb.892a98","name":"sound2","x":473,"y":196,"wires":[]},{"id":"f37c06dd.0c83f8","type":"function","z":"76d566fb.892a98","name":"INSERT sound","func":"msg.topic = \"INSERT INTO Measures (Timestamp, Type, Value, Station) VALUES (UNIX_TIMESTAMP(),?,?,?)\";\nmsg.payload = [\"sound\",msg.payload,2];\nreturn msg;","outputs":1,"noerr":0,"x":258,"y":280,"wires":[["eebc9161.11437"]]},{"id":"eebc9161.11437","type":"mysql","z":"76d566fb.892a98","mydb":"add123a7.522ee","name":"","x":464.5,"y":282,"wires":[["67fd1e02.9802e"]]},{"id":"67fd1e02.9802e","type":"debug","z":"76d566fb.892a98","name":"","active":false,"console":"false","complete":"payload","x":644.5,"y":280,"wires":[]}]