flows/temperature.txt
[{"id":"add123a7.522ee","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"msafe","tz":""},{"id":"da31eeea.25ce1","type":"mqtt-broker","z":"","broker":"192.168.0.50","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"dcb6f733.234908","type":"mqtt in","z":"d9ac37b7.2653c8","name":"temp1","topic":"temp1","broker":"da31eeea.25ce1","x":74,"y":66,"wires":[["a00b7c8f.5ff48","cac99e4d.35366"]]},{"id":"a00b7c8f.5ff48","type":"function","z":"d9ac37b7.2653c8","name":"toJSON","func":"msg.payload={value:[msg.payload]};\nreturn msg;","outputs":"1","noerr":0,"x":280,"y":58,"wires":[["c572bc73.3a8d4"]]},{"id":"c572bc73.3a8d4","type":"freeboard","z":"d9ac37b7.2653c8","name":"temp1","x":471,"y":61,"wires":[]},{"id":"cac99e4d.35366","type":"function","z":"d9ac37b7.2653c8","name":"INSERT Temperature","func":"msg.topic = \"INSERT INTO Measures (Timestamp, Type, Value, Station) VALUES (UNIX_TIMESTAMP(),?,?,?)\";\nmsg.payload = [\"temp\",msg.payload,1];\nreturn msg;","outputs":1,"noerr":0,"x":293,"y":128,"wires":[["776d41f1.8892c"]]},{"id":"776d41f1.8892c","type":"mysql","z":"d9ac37b7.2653c8","mydb":"add123a7.522ee","name":"","x":477.5,"y":125,"wires":[["927e3086.6d81d"]]},{"id":"927e3086.6d81d","type":"debug","z":"d9ac37b7.2653c8","name":"","active":false,"console":"false","complete":"payload","x":645.5,"y":128,"wires":[]},{"id":"13917c1d.ec6e84","type":"mqtt in","z":"d9ac37b7.2653c8","name":"temp2","topic":"temp2","broker":"da31eeea.25ce1","x":68,"y":199,"wires":[["72b9794d.8d4688","9dbc136e.6243f"]]},{"id":"72b9794d.8d4688","type":"function","z":"d9ac37b7.2653c8","name":"toJSON","func":"msg.payload={value:[msg.payload]};\nreturn msg;","outputs":"1","noerr":0,"x":278,"y":208,"wires":[["e2a351c2.1d5cb"]]},{"id":"e2a351c2.1d5cb","type":"freeboard","z":"d9ac37b7.2653c8","name":"temp2","x":476,"y":202,"wires":[]},{"id":"9dbc136e.6243f","type":"function","z":"d9ac37b7.2653c8","name":"INSERT Temperature","func":"msg.topic = \"INSERT INTO Measures (Timestamp, Type, Value, Station) VALUES (UNIX_TIMESTAMP(),?,?,?)\";\nmsg.payload = [\"temp\",msg.payload,2];\nreturn msg;","outputs":1,"noerr":0,"x":291,"y":286,"wires":[["fd23e1f5.02dc2"]]},{"id":"fd23e1f5.02dc2","type":"mysql","z":"d9ac37b7.2653c8","mydb":"add123a7.522ee","name":"","x":477.5,"y":288,"wires":[["c8cf2351.3730e"]]},{"id":"c8cf2351.3730e","type":"debug","z":"d9ac37b7.2653c8","name":"","active":false,"console":"false","complete":"payload","x":657.5,"y":286,"wires":[]}]